*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  background-image: url('../img/foglie.jpg');
  background-size: cover;
}

.container{
  width: 70%;
  padding: 10px;
  margin: auto;
}

header{
  background-color: rgba(0, 0, 0, 0.86);
  height: 20vh;
  border: 5px solid white;
  border-radius: 5px;
}

.foresta{
  background-image: url('../img/foresta.jpg');
  background-size: cover;
}

main{
  margin: 10px 0;
}

footer{
  background-color: rgb(154, 235, 174);
  height: 10vh;
  border: 5px solid white;
  border-radius: 5px;
  bottom: 0;
}

/* COLONNA SINISTRA */
aside.col-sx{
background-color: rgb(154, 235, 174);
width: calc(25% - 10px);
margin-right: 20px;
padding: 5px;
border: 5px solid white;
border-radius: 5px;
}

/* COLONNA CENTRALE */
section.colmain{
background-color: rgb(154, 235, 174);
width: calc(50% - 20px);
padding: 10px;
border: 5px solid white;
border-radius: 5px;
}

aside.col-dx{
width: calc(25% - 10px);
}

/* BOX DESTRA */
aside.col-dx div.box{
background-color: rgb(154, 235, 174);
padding: 5px;
margin-bottom: 20px;
border: 5px solid white;
border-radius: 5px;
}

/* TITOLONE HEADER */
.titolone{
  position: relative;
  border: 5px solid black;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* TITOLONE HEADER */
.titolino{
  text-align: center;
  top: 20%;
}

/* SCRITTE COLONNA SINISTRA */
aside.col-sx p{
  margin-top: 10px;
}

/* TITOLO CENTRO */
section.colmain h3{
  padding: 20px 0 40px;
}

/* TITOLO DESTRO */
aside.col-dx h3{
  padding: 10px 0 20px;
}

/* SCRITTA FOOTER */
div.footer-top{
  height: 20%;
  text-align: center;
  border-bottom: 2px solid grey;
}

div.social{
  height: 80%;
  width: calc(100% / 3);
  float: left;
}

div.icon{
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fb{
  background-image: url('../img/fbicon.png');
}

.insta{
  background-image: url('../img/instaicon.png');
}

.git{
  background-image: url('../img/giticon.jpg');
}
